*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #131313;
    color: #FFFFFF;
    font-family: "Albert Sans", sans-serif;
    font-size: 16pt;
    font-weight: normal;
    line-height: 1.3em;;
}
/* ---------------LOADER-------------------*/
.loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute; 
    bottom: 48%; 
    left: 48%; 
    border: 4px solid #Ffff;
    animation: loader 2s infinite ease;
    opacity: 1; 
    transition: opacity 1s ease;
    z-index: 6;
    }
    
    .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
    z-index: 6;
    }
    
    @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    
    25% {
      transform: rotate(180deg);
    }
    
    50% {
      transform: rotate(180deg);
    }
    
    75% {
      transform: rotate(360deg);
    }
    
    100% {
      transform: rotate(360deg);
    }
    }
    
    @keyframes loader-inner {
    0% {
      height: 0%;
    }
    
    25% {
      height: 0%;
    }
    
    50% {
      height: 100%;
    }
    
    75% {
      height: 100%;
    }
    
    100% {
      height: 0%;
    }
    }

    .contentt {
        opacity: 0;
    }
    
    .contentt.show {
        opacity: 1;
    }
/*-----------------------------------*/
/*TAPA*/
#tapa{
    position: absolute;
    top: 0px;
    z-index: 1;
    background-color: #131313;
    width: 100%;
    height: 100%;
    opacity: 100%;
    transition: all 1s ease-in-out;
}


/* FONDO IMAGEN TECLADO */
.bg{
    width: 100%;
    height: 50%;
    background-image: url(./img/for_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    position: absolute;
    top: 0px;
    z-index: -2;
    box-sizing: content-box;
}

/* TEXTURA */
.texture{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url(./img/for_bg_tx.jpg);
    background-color: #9070A8;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    /* SOLUCIONADOOOOOOOO */
    z-index: -1;
    box-sizing: content-box;
    mix-blend-mode: screen;
    opacity: 30%;

}

/* div con degradé para difuminar el corte de la foto */
.bottom {
    display: flex;
    height: 100%;
    align-items: end;
 }
.bg-linear {
    width: 100%;
    height: 300px;
    background: linear-gradient(#13131300, #131313);
 }

/* texto */
h1{
    line-height: 48pt;
    font-weight: 500;
}

h2{
    font-size: 16pt;
    font-weight: 700;
    text-transform: uppercase;
    color: #9070A8;
    margin-bottom: 50px;
}

h3{
    font-size: 16pt;
    font-weight: 300;
    color: #9070A8;
    margin-bottom: 50px;
}

h4{
    font-size: 8pt;
    letter-spacing: 1px;
    font-weight: 200;
    margin: 50px 0 50px 0;
}

h5{
    font-size: 16pt;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 50px;
}

h6{
    font-size: 48pt;
    line-height: 48pt;
    font-weight: 900;
    text-transform: uppercase;
    color: #9070A8;
    p{
        text-transform: uppercase;
        color: #9070A8;
        font-size: 16pt;
        font-weight: 400;
        transition: all 0.7s ease-in-out;
    }
    transition: all 0.5s ease-in-out;
}

p{
    line-height: 24pt;
    font-weight: 300;
    color: #D0D2D3;
}

/* estilo links */
a{
    text-decoration: none;
    color: #9070A8;

    &:hover{
        text-decoration: underline;
    }
}

.container{
    width: 80%;
    max-width: 955px;
    margin: auto;
}

/* MENU */
#movil{
    position: absolute;
    display: flex;
    padding: 45px 0 45px 0;
    flex-direction: column;
    justify-content: space-between;
    top: -250px;
    width: 100%;
    height: 250px;
    text-align: center;
    background-color: #9070A8;
    z-index: 3;
    transition: all 0.5s ease-in-out;
    list-style:none;
    text-transform: uppercase;
    a{
        font-size: 16pt;
        font-weight: 700;
        letter-spacing: 2px;
        text-decoration: none;
        color: white;
    
        &:hover{
            text-decoration: underline;
        }
    }
}
.top{
    margin-top: 100px;
    color: white;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items:start;
    z-index: 3;
}
/* MENU izquierda */
.logo{
    display: flex;
    padding-left: 5px;
    img{
        height: auto;
        width: 230px;
        transition: all 0.2s ease-in-out;
        cursor: pointer;
    }
}

.logo img:hover{
    width: 300px;
    filter: blur(2px);
    /* filter:drop-shadow(5px 5px 3px #00000053); */
}

/* MENU derecha */
.menu{
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
}

.menu li{
    margin-left: 20px;
    margin-top: -5px;
    list-style:none;
    transition: all 0.2s ease-in-out;
}

.menu li:hover{
    letter-spacing: 5px;
}

/* MENU icono móvil */
#m{
    display: none;
}

/* PRIMERA SECCIÓN INTRO */
.intro{
    display: flex;
    width: 100%;
    align-items:end;
    margin: 100px 0 50px 0;
}

.intro-txt{
    width: 50%;
    padding-right: 30px;
    p{
        margin-bottom: 8px;
    }
    transition: all 0.5s ease-in-out;
}


/* CLIENTS */
.clients{
    width: 100%;
    margin-inline: auto;
    position: relative;
    height: 150px;
    overflow: hidden;
    mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollLeft {
    to {left: -300px;}
}

.brands{
    height: 150px;
    opacity: 25%;
    mix-blend-mode: screen;
    
    position: absolute;
    left: max(calc(300px * 6), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.brand1{
    animation-delay: calc(30s / 6 * (6 - 1) * -1);
}
.brand2{
    animation-delay: calc(30s / 6 * (6 - 2) * -1);
}
.brand3{
    animation-delay: calc(30s / 6 * (6 - 3) * -1);
}
.brand4{
    animation-delay: calc(30s / 6 * (6 - 4) * -1);
}
.brand5{
    animation-delay: calc(30s / 6 * (6 - 5) * -1);
}
.brand6{
    animation-delay: calc(30s / 6 * (6 - 6) * -1);
}




/* SEGUNDA SECCIÓN ABOUT US */
.about{
    display: flex;
    width: 100%;
    align-items:start;
    margin: 50px 0 100px 0;

}

.about-txt{
    width: 50%;
    border: 1px solid #9070A8;
    padding: 50px;
    box-sizing:border-box;
}

.perfiles{
    width: 50%;
    position: relative;
    display: flex;
    flex-direction:column;
    justify-content: end;/* ubica los nombres abajo */
    height: 600px;
    margin: 50px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-color: #9070A8;
    margin-left: -1px; hace que se superponga la línea y no quede doble */

    h2, p{
        text-align: center;
        margin: 10px;
        z-index: 1;
    }
    p {
        font-size: 10pt;
    }
    box-sizing:border-box;
}

#titulo2, #titulo3, #titulo4{
    display: none;
}

.perfil{
    position: relative;
    margin-bottom: 20px;
    filter:drop-shadow(1px 1px 10px #3e3e3e9d);
    cursor: pointer;
}
.perfil img{
    border-radius: 50%;
    width: 100%;
}
#perfil1{
    position: absolute;
    top: 0px;
    z-index: 1;
    opacity: 100%;
    transition: all 1s ease-in-out;
}
#perfil2{
    position: absolute;
    top: 40px;
    z-index: -1;
    opacity: 60%;
    transition: all 1.5s ease-in-out;
}
#perfil3{
    position: absolute;
    top: 80px;
    z-index: -2;
    opacity: 40%;
    transition: all 2s ease-in-out;
}
#perfil4{
    position: absolute;
    top: 120px;
    z-index: -3;
    opacity: 20%;
    transition: all 2.5s ease-in-out;
}

.clr{
    clear:both;
}

.titulos{
    z-index: 1;
}
#alert{
    opacity: 40%;
}




/* TERCERA SECCION SERVICES */
.services-txt{
    width: 100%;
    border: 1px solid #9070A8;
    padding: 50px;
    box-sizing:border-box;
}

.accordion{
    width: 100%;
    margin: 50px 0 50px 0;
}

.accordion li{
    list-style: none;
    width: 100%;
}

.accordion li label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 50px 50px 50px 50px;

    font-size: 48pt;
    line-height: 48pt;
    font-weight: 900;
    text-transform: uppercase;
    color: #9070A8;

    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #9070A8;
    margin-top: -1px;
}

.accordion li label:hover{
    color: #FFFFFF;
}

label::after{
    content: '+';
    font-size: 15pt;
    line-height: 16pt;
    font-weight: 400;
}

input[type="radio"]{
    display: none;
}

.accordion .content {
    display: flex;
    height: 0;
    overflow: hidden;
    p{
        width: 50%;
        padding: 50px 25px 50px 50px;
    }
}

.accordion input[type="radio"]:checked + label + .content{
    height: fit-content;
}

.accordion input[type="radio"]:checked + label::after{
    content: '-';
}

hr{
    border-width: 0.8px;
    border-style: solid;
    border-color: #9070A8;
    margin-top: -1px;
}

/* -----------forms---------- */	

.contact-section {
    display: flex;
    align-items: center;
    /* background-color: #9070A8; */
    box-sizing:border-box;
  }
  
  .contact-container {
    margin-top: 50px;
    display: flex;
    gap: 50px; 
    max-width: 1500px;
    width: 100%;
  }
  
  .contact-text {
    margin-top: -20px;
    flex: 1;
        h1{
            font-size: 30pt;
            font-weight: 500;
        }
        p{
            margin-top: 25px;
        }
  }
  .contact-form {
    flex: 1; 
    display: flex;
    flex-direction: column;
    gap: 15px; 
    
  }
  
  .contact-form .form-row {
    display: flex;
    gap: 15px; 
  }
  
  .contact-form input,
  textarea {
    flex: 1;
    margin: 1px 1px 0 0;
    padding: 10px;
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 10pt;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.3);

    &:focus {
        outline: none;
        border: 0.5px solid white;
        color: white;
      }
  }
  
  textarea {
    resize: none;
    height: 200px;
  }
  
  button {
    align-self: flex-end;
    width: 100px;
    background: rgb(66, 66, 66);
    color: #9070A8;
    font-weight: 500;
    margin-right: 1px;
    border: none;
    padding: 10px 20px;
    font-size: 10pt;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  }
  
  button:hover {
    background: white;
  }
  
/* .services{
    width: 100%;
    margin: 50px 0 100px 0;
}
.service{
    width: 100%;
    height: 200px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;

    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #9070A8;
    margin-top: -1px;
    cursor: pointer;
    box-sizing:border-box;
}

.cards{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 50px;
    
    p{
        width: 50%;
        margin-right: 25px;
        margin-bottom: 25px;
    }
    box-sizing:border-box;
} */

/* Ocultamos las tarjetas
#card1, #card2, #card3, #card4{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 0;
    overflow: hidden;
}

.open{
    font-size: 16pt;
    font-weight: 300;
    color: #9070A8;
    transition: all 0.3s ease-in-out;
}
.service:hover{
    h6,p,.open{
    color: #FFFFFF;
    }
}
*/


/* RESPONSIVE */
@media(max-width:900px){
    .intro{
        flex-direction: column;
        justify-content: left; 
    }
    .intro-txt{
        width: 100%;
        padding-right: 0px;
        margin-bottom: 30px;
    }
    .menu li{
        display: none;
    }
    #m{
        display: contents;
        font-size: 40pt;
        font-weight: normal;
    }
    .about{
        flex-direction: column;
        justify-content: left; 
    }
    .about-txt, .services-txt{
        width: 100%;
        margin-bottom: 30px;
        padding: 35px;
    }
    h3{
        margin-bottom: 0px;
    }
    .perfiles{
        width: 100%;
        margin: 0;
    }
    .perfil{
        padding: 10px;
    }
    /* .service{
        padding: 0px;
        height: 120px;
    }
    .cards{
        flex-direction: column;
        justify-content: left;
        p{
            width: 120%;
            margin-left: -50px;
        }
    } */
    h5{
        font-size: 14pt;
    }
    /* h6{
        font-size: 22pt;
        line-height: 22pt;
        p{
            font-size: 10pt;
            line-height: 10pt;
            margin-top: 10px;
        }
    } */
    .accordion li label {
        font-size: 22pt;
        line-height: 22pt;
        padding: 50px 0 50px 0;       
    }
    .accordion .content {
        flex-direction: column;
        justify-content: space-between;
        p{
            width: 100%;
            padding: 50px 0 50px 0;
        }
        .dos{
            margin-top: -50px;
        }
    }

    .contact-container {
        flex-direction: column;
        gap: 30px; /* Espacio entre texto y formulario en pantallas pequeñas */
      }
    
      .contact-text,
      .contact-form {
        flex: none;
      }
}